.idea
wandb
model_output
.sweep_id
data/.ipynb_checkpoints/dmml1_stores-checkpoint.csv
.ipynb_checkpoints/DMML1_Projekt_Abgabe-checkpoint.ipynb
.ipynb_checkpoints/DMML1_Projekt_Test_Schwarz-checkpoint.ipynb
.ipynb_checkpoints/DMML1_Projekt_WS23-checkpoint.pdf
data/.ipynb_checkpoints/dmml1_train-checkpoint.csv
.vscode/settings.json
